h1{
    color:blue;
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
div{
   background-color:chocolate;
}
small{
    color:darkcyan;
}
ul{
    background-color: darkorchid;
}